<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Admin-Portal" >

<test name="Expert">
	<classes>
			<class name="Adminportal.Expert_module_test_cases"/>
	</classes>
</test>
 
<test name="Banner">
	<classes>
			 <class name="Adminportal.Banner"/>  
	</classes>
</test>


<test name="Institution">
	<classes>
			<class name="Adminportal.Institute_module_testcases"/>
	</classes>
</test>

<test name="Collection">
	<classes>
			<class name="Adminportal.Collection_module_testcases"/>
	</classes>
</test>

<test name="Advice">
	<classes>
			 <class name="Adminportal.Advice_module_testcases"/>
	</classes>
</test>


</suite> <!-- Suite -->
